:root {
  --theme-background-color: #1d88ec;
  --theme-background-color-hover: #1d54ec;
  --theme-border: 1px solid #1d54ec;
  --form-border: 1px solid #c3c3c3;
  --form-border-color: #c3c3c3;
  --form-border-width: 1.5px;
  --form-border-style: solid;
  --form-border-radius: 4px;
  --form-placeholder-color: #7d7d7d;
  --form-font-size: 12px;
  --form-padding: 10px;
  --form-box-sizing: border-box;
}

@font-face {
  font-family: Poppins-Regular;
  src: local(Poppins-Regular),
    url("/public/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Poppins-Bold;
  src: local(Poppins-Bold),
    url("/public/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Poppins-ExtraBold;
  src: local(Poppins-ExtraBold),
    url("/public/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f3f3f3;
  background-color: #24272a;
}

p {
  margin: 0;
  font-size: 13px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}

#root {
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: var(--theme-background-color);
  border: var(--theme-border);
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--theme-background-color-hover);
  border: var(--theme-border);
}

button:disabled {
  opacity: var(--disabled-opacity);
  cursor: var(--disabled-cursor);
  background-color: var(--disabled-background-color);
  color: rgba(0, 0, 0, 0.411);
  border-color: var(--disabled-border-color);
}

input {
  width: 100%;
  padding: var(--form-padding);
  box-sizing: var(--form-box-sizing);
  border-color: var(--form-border-color);
  border-width: var(--form-border-width);
  border-style: var(--form-border-style);
  border-radius: var(--form-border-radius);
}
